 <div id="login">
        
        <form action="/admin/signup" method="POST">
            
            <fieldset class="clearfix">
                
                <p><span class="fontawesome-user"></span><input type="text" placeholder="Username" name='username' onBlur="if(this.value == '') this.placeholder = 'Username'" onFocus="if(this.placeholder == 'Username') this.placeholder = ''" required></p> <!-- JS because of IE support; better: placeholder="Username" -->

                <p><span class="fontawesome-envelope"></span><input type="text"  placeholder="Email" name='email' onBlur="if(this.value == '') this.placeholder = 'Email'" onFocus="if(this.placeholder == 'Email') this.placeholder = ''" required></p> <!-- JS because of IE support; better: placeholder="Password" -->

                <p><span class="fontawesome-lock"></span><input type="password"  placeholder="Password" name='password' onBlur="if(this.value == '') this.placeholder = 'Password'" onFocus="if(this.placeholder == 'Password') this.placeholder = ''" required></p> <!-- JS because of IE support; better: placeholder="Password" -->

                <p><span class="fontawesome-lock"></span><input type="password"  placeholder="Password Confirmation" name='password_confirmation' onBlur="if(this.value == '') this.placeholder = 'Password Confirmation'" onFocus="if(this.placeholder == 'Password Confirmation') this.placeholder = ''" required></p> <!-- JS because of IE support; better: placeholder="Password" -->

                <br><br>

                <p><input type="submit" value="Sign Up"></p>

            </fieldset>

        </form>

    </div> <!-- end login -->