include layout


doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title SB Admin - Bootstrap Admin Template
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='stylesheets/sb-admin.css', rel='stylesheet')
    // Morris Charts CSS
    link(href='stylesheets/plugins/morris.css', rel='stylesheet')
    // Custom Fonts
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // Custom Javascript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')

      script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
  body
    #wrapper
      // Navigation
      nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Twitter Bot Admin V1.0
        // Top Menu Items
        ul.nav.navbar-right.top-nav
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-envelope
              b.caret
            ul.dropdown-menu.message-dropdown
              li.message-preview
                a(href='#')
                  .media
                    span.pull-left
                      img.media-object(src='http://placehold.it/50x50', alt='')
                    .media-body
                      h5.media-heading
                        strong
                      p.small.text-muted
                        i.fa.fa-clock-o
                        |  Yesterday at 4:32 PM
                      p Lorem ipsum dolor sit amet, consectetur...
              li.message-preview
                a(href='#')
                  .media
                    span.pull-left
                      img.media-object(src='http://placehold.it/50x50', alt='')
                    .media-body
                      h5.media-heading
                        strong
                      p.small.text-muted
                        i.fa.fa-clock-o
                        |  Yesterday at 4:32 PM
                      p Lorem ipsum dolor sit amet, consectetur...
              li.message-preview
                a(href='#')
                  .media
                    span.pull-left
                      img.media-object(src='http://placehold.it/50x50', alt='')
                    .media-body
                      h5.media-heading
                        strong
                      p.small.text-muted
                        i.fa.fa-clock-o
                        |  Yesterday at 4:32 PM
                      p Lorem ipsum dolor sit amet, consectetur...
              li.message-footer
                a(href='#') Read All New Messages
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-bell
              b.caret
            ul.dropdown-menu.alert-dropdown
              li
                a(href='#')
                  | Alert Name 
                  span.label.label-default Alert Badge
              li
                a(href='#')
                  | Alert Name 
                  span.label.label-primary Alert Badge
              li
                a(href='#')
                  | Alert Name 
                  span.label.label-success Alert Badge
              li
                a(href='#')
                  | Alert Name 
                  span.label.label-info Alert Badge
              li
                a(href='#')
                  | Alert Name 
                  span.label.label-warning Alert Badge
              li
                a(href='#')
                  | Alert Name 
                  span.label.label-danger Alert Badge
              li.divider
              li
                a(href='#') View All
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-user
              |  
              b.caret
            ul.dropdown-menu
              li
                a(href='#')
                  i.fa.fa-fw.fa-user
                  |  Profile
              li
                a(href='#')
                  i.fa.fa-fw.fa-envelope
                  |  Inbox
              li
                a(href='#')
                  i.fa.fa-fw.fa-gear
                  |  Settings
              li.divider
              li
                a(href='logout')
                  i.fa.fa-fw.fa-power-off
                  |  Log Out
        // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.side-nav
            li
              a(href='/')
                i.fa.fa-fw.fa-dashboard
                |  Dashboard
            li
              a(href='charts')
                i.fa.fa-fw.fa-bar-chart-o
                |  Charts
            li
              a(href='javascript:;', data-toggle='collapse', data-target='#demo')
                i.fa.fa-fw.fa-arrows-v
                |  Account Options 
                i.fa.fa-fw.fa-caret-down
              ul#demo.collapse
                li
                  a(href='#') Manage Accounts
                li
                  a(href='#') New Account
            li.active
              a(href='forms')
                i.fa.fa-fw.fa-edit
                |  Forms
        // /.navbar-collapse
      #page-wrapper
        .container-fluid
          // Page Heading
          .row
            .col-lg-12
              h1.page-header
                | All Forms
              ol.breadcrumb
                li
                  i.fa.fa-dashboard
                  a(href='/') Dashboard
                li.active
                  i.fa.fa-edit
                  |  Forms
          // /.row
          .row
            .col-lg-12
             h3 New Admin Tweet
                  br
              form(action='/tweet' method="POST")
                .form-group
                  label New Tweet
                  input.form-control(placeholder='Enter a Tweet', name='tweet')

                button.btn.btn-primary(type='submit') Tweet!
                br
                br
                hr
          .row
            .col-lg-12
              h3 New Account
              hr
          form(action='/newaccount' method="POST")
            .col-lg-6
                .form-group
                  label Username
                  input.form-control(placeholder='Enter the accounts @username', name='username', required)
                .form-group
                  label Email
                  input.form-control(placeholder='Enter the account e-mail', name='email', type='email', required)
                .form-group
                  label Password
                  input.form-control(placeholder='Enter a password for this account', name='password', type='password', required)
                .form-group
                  label Password Confirmation
                  input.form-control(placeholder='Enter it again', type='password', required)
            .col-lg-6
                .form-group
                  label Consumer Key
                  input.form-control(placeholder='Consumer Key - from Twitter', name='consumer_key', required)
                .form-group
                  label Consumer Secret
                  input.form-control(placeholder='Consumer Secret - from Twitter', name='consumer_secret', required)
                .form-group
                  label Access Token
                  input.form-control(placeholder='Access Token - from Twitter', name='access_token', required)
                .form-group
                  label Access Token Secret
                  input.form-control(placeholder='Access Token Secret - from Twitter', name='access_token_secret', required)

            .col-lg-12
              .form-group
                label Retweets Per 15 Mins
                select.form-control(name='price', required)
                  option(value='10') 1 - $10/month
                  option(value='20') 2 - $20/month
                  option(value='25') 3 - $25/month
              button.btn.btn-primary.form-control(type='submit') Create Account
                  
            .row
            .col-lg-12
             h3 Update Account
                  br
              form(action='/signin' method="POST")
                .form-group
                  label Account Name
                  input.form-control.new-account-field-1(placeholder='Please Enter A Unique Title For This Account')
                .form-group
                  label Username
                  input.form-control.new-account-field-2(placeholder='Enter The Accounts Twitter Username')
                .form-group
                  label Password
                  input.form-control.new-account-field-3(placeholder='Enter The Accounts Twitter Password')
                  p.form-control-static *We need this to tweet on your behalf

                .form-group
                  label Retweets Per 15 Mins
                  select.form-control
                    option 1 - $10/month
                    option 2 - $20/month
                    option 3 - $25/month
                button.btn.btn-primary(type='submit') Submit Button
                br
                br
            .row
            h2(style='color: darkred;') DANGER ZONE
            hr(style='border-color: darkred;')
            .col-lg-12
             h3 Delete Account
                  br
              form(action='/signin' method="POST")
                .form-group
                  label Account Name
                  input.form-control.new-account-field-1(placeholder='Please Enter A Unique Title For This Account')
                .form-group
                  label Username
                  input.form-control.new-account-field-2(placeholder='Enter The Accounts Twitter Username')
                .form-group
                  label Password
                  input.form-control.new-account-field-3(placeholder='Enter The Accounts Twitter Password')
                  p.form-control-static *We need this to tweet on your behalf

                .form-group
                  label Retweets Per 15 Mins
                  select.form-control
                    option 1 - $10/month
                    option 2 - $20/month
                    option 3 - $25/month
                button.btn.btn-primary(type='submit') Submit Button
                br
                br


          // /.row
        // /.container-fluid
      // /#page-wrapper
    // /#wrapper
    // jQuery
    script(src='javascripts/jquery.js')
    // Bootstrap Core JavaScript
    script(src='javascripts/bootstrap.min.js')