<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Responsive website template for mobile app</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="shortcut icon" href="images/logo/logo.png">  
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>  
    <!-- Global CSS -->
    <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="plugins/flexslider/flexslider.css">
    <link rel="stylesheet" href="plugins/animate-css/animate.min.css">
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="stylesheets/styles.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel='shortcut icon' href='images/favicon.png'>

</head> 


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72814089-3', 'auto');
  ga('send', 'pageview');

</script>


<body data-spy="scroll">
    <!-- ******HEADER****** --> 
    <header id="top" class="header navbar-fixed-top">  
        <div class="container">            
            <h1 class="logo pull-left">
                <a class="scrollto" href="#promo">
                    <img id="logo-image" class="logo-image" src="images/logo/logo.png" alt="Logo">
                    <span class="logo-title">Phenomenal</span>
                </a>
            </h1><!--//logo-->              
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->            
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item sr-only"><a class="scrollto" href="#promo">Home</a></li>
                        <li class="nav-item"><a class="scrollto" href="#features">Features</a></li>
                        <li class="nav-item"><a class="scrollto" href="#faq">FAQ</a></li>
                        <li class="nav-item"><a class="scrollto" href="#story">Story</a></li>
                        <li class="nav-item"><a class="scrollto" href="#pricing">Pricing</a></li>
                        <li class="nav-item last"><a class="active" href="/signin">Sign In</a></li>

                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->           
        </div>
    </header><!--//header-->
    
    <!-- ******PROMO****** --> 
    <section id="promo" class="promo section offset-header has-pattern">
        <div class="container">
            <div class="row">
                <div class="overview col-md-8 col-sm-12 col-xs-12">
                    <h2 class="title">At our roots we specialize in starting businesses, brands, apps, and the strategic marketing behind them.</h2>

                    <ul class='summary' style='margin-left: -30px; padding-right: 40px; margin-bottom: 30px; font-size: 16px;'>
                        <p>We also have a knack for automating monotonous tasks. A few of our automated services we currently offer are trading favorites on large twitter accounts, scheduling posts on twitter, instagram, & Facebook, and strategic mass following/liking on twitter.</p>
                    </ul>

                    <div class='row'>
                    <ul class="summary col-xs-6">
                        <li>Impressions by the millions</li>
                        <li>Marketing Campaigns</li>
                        <li>Automatic Favorite Trading</li>
                    </ul>

                    <ul class="summary col-xs-6">
                        <li>Social media post scheduling</li>
                        <li>Business Consulting</li>
                        <li>Build-a-Brand</li>
                    </ul>
                    </div>

                    <div class="download-area col-sm-12 col-xs-12">
                        <ul class="list-inline">
                            <li class="btn btn-lg btn-default nav-item" style='width: 150px;'><a class="scrollto" href="#features">Learn More</a></li>
                            <li class="btn btn-lg btn-default" style='margin-left: 30px; width: 150px;'><a href="/signup">Sign Up Now</a></li>
                        </ul>
                        
                    </div>
                </div><!--//overview-->
                
                <!--// iPad starts -->
                <div class="ipad ipad-white col-md-4 col-sm-12 col-xs-12 col-md-pull-1">
                    <div class="ipad-holder">
                        <div class="ipad-holder-inner">
                            <div class="slider flexslider">
                                <ul class="slides">
                                    <li>
                                        <img src="images/ipad/ipad-slide-1.png"  alt="" />
                                    </li>
                                    <li>
                                        <img src="images/ipad/ipad-slide-2.png"  alt="" />
                                    </li>
                                    <li>
                                        <img src="images/ipad/ipad-slide-3.png"  alt="" />
                                    </li>
                                </ul><!--//slides-->
                            </div><!--//flexslider-->   
                        </div><!--//ipad-holder-inner-->                    
                    </div><!--//ipad-holder-->                   
                </div><!--//ipad--> 
                <!--// iPad ends -->  
                                           
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//promo-->
    
    <!-- ******FEATURES****** --> 
    <section id="features" class="features section">
        <div class="container">
            <div class="row">
                <h2 class="title text-center sr-only">Features</h2>
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-bar-chart"></i>                
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title">Impressions By The Millions</h3>
                        <p>If you are looking to put your brand, product, or app put in front of millions of people we can help.  </p>  
                        <!-- <button class="modal-trigger btn btn-link" data-toggle="modal" data-target="#feature-modal-1">Find out more</button> -->
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-industry"></i>                
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title">Marketing Campaigns</h3>
                        <p>We create fully original and innovative marketing campaigns for app promotions to movie trailers. </p>   
                        <!-- <button class="modal-trigger btn btn-link" data-toggle="modal" data-target="#feature-modal-1">Find out more</button> -->
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-users"></i>                
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title">Automated Fav Trading</h3>
                        <p>We offer a completely automated favorite retweeting service that trades with accounts of a similar size. (based on impressions) </p> 
                        <!-- <button class="modal-trigger btn btn-link" data-toggle="modal" data-target="#feature-modal-1">Find out more</button> -->  
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-clock-o"></i>                
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title">Social Media Post Scheduling</h3>
                        <p>Outline an app feature/benefit here. You can change the icon above to any of the 500+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome icons</a> available. </p>   
                        <!-- <button class="modal-trigger btn btn-link" data-toggle="modal" data-target="#feature-modal-1">Find out more</button> -->
                    </div><!--//content-->               
                </div><!--//item-->
            </div><!--//row-->
            
            <div class="row feature-row-last">
                <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-binoculars"></i>                
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title">Business Consulting</h3>
                        <p>We are here to advise your business at any point whether you’re just starting out or have been in business for decades. </p>  
                        <!-- <button class="modal-trigger btn btn-link" data-toggle="modal" data-target="#feature-modal-1">Find out more</button> -->
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-paper-plane"></i>                
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title">Build-a-Brand</h3>
                        <p>Outline an app feature/benefit. You can change the icon above to any of the 500+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome icons</a> available. </p>  
                        <!-- <button class="modal-trigger btn btn-link" data-toggle="modal" data-target="#feature-modal-1">Find out more</button> -->
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-hourglass"></i>
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title">Coming Soon!</h3>
                        <p>We're building something pretty awesome... </p> 
                    </div><!--//content-->               
                </div><!--//item-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//features-->
    

    <!-- ******FAQ****** --> 
    <section id="faq" class="faq section">
        <div class="container">
            <div class="row">
                <h2 class="title text-center">Frequently Asked Questions</h2>
                <div class="faq-col col-md-6 col-sm-6 col-xs-12">
                    <div class="item">
                        <h3 class="question"><i class="fa fa-question-circle"></i>How does Automated Fav Trading work?</h3>
                        <p class="answer">We've built some pretty complex algorithms to ensure we exceed expectations. We sort your account based on impressions. From there it goes into a pool with similar sized accounts. It then trades 24/7 (unless specified otherwise) with the other accounts in the pool. We guarantee 60+ trades a day which means your impressions will be through the roof.</p>
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="question"><i class="fa fa-question-circle"></i>Do you really guarantee millions of impressions?</h3>
                        <p class="answer">If we do not reach the impression count you have paid for we will refund 25% and continue going until we do so.</p>
                    </div><!--//item-->
                </div><!--//faq-col-->
                <div class="faq-col col-md-6 col-sm-6 col-xs-12">
                    <div class="item">
                        <h3 class="question"><i class="fa fa-question-circle"></i>Can I get a refund?</h3>
                        <p class="answer">If it is your first time using one of our monthly services we will offer a full refund as long as it's been under 7 days. After the first week we will no longer process refunds. If you do for some reason decide you'd like a refund you will be permanently blacklisted.</p>
                    </div><!--//item-->
                </div><!--//faq-col-->
                <div class="faq-col col-md-6 col-sm-6 col-xs-12">
                    <div class="item">
                        <h3 class="question"><i class="fa fa-question-circle"></i>Are my social media accounts at risk of being stolen or banned?</h3>
                        <p class="answer">All of our programs are always carefully built within the guidelines of the platform it's being used on. Your accounts security is our number one priority. Your accounts will never be saved on our end, it is simply to log in and then forgot about.</p>
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="question"><i class="fa fa-question-circle"></i>What does your build a brand service offer? </h3>
                        <p class="answer">It would be easier to explain what we don't offer, but since that's not what you asked.. We can do anything from designing your logo, getting your website up and running, filing for your LLC or corporation, and all of the fun stuff in between.</p>
                    </div><!--//item-->
                </div><!--//faq-col-->
            </div><!--//row-->
            <div class="more text-center">
                <h4 class="title">More questions?</h4>
                <a class="btn btn-lg btn-theme scrollto" href="#contact">Get in touch<i class="fa fa-arrow-circle-o-down"></i></a>
            </div>
        </div><!--//container-->
    </section><!--//faq-->
    
    <!-- ******STORY****** --> 
    <section id="story" class="story section has-pattern">
        <div class="container">
            <div class="row">
                <div class="content col-md-6 col-sm-6 col-xs-12 text-center">
                    <h2 class="title">Story behind Phenomenal</h2>
                    <p>Phenomenal is much more than just a Marketing & Tech company. It is a standard that we expect to meet with 100% of the work we produce. It is about raising the bar so you no longer have to settle.</p>
                    <p> Our goal is to help start the next wave of successful businesses while creating tools for them to use that help ensure their time is being spent as efficiently as possible.</p>
                </div><!--//content-->
                <div class="team col-md-5 col-sm-5 col-md-offset-1 col-sm-offset-1 col-xs-12">
                    <div class="row">
                        <div class="member col-md-6 text-center">
                            <img class="img-circle" src="images/profile2.jpg" alt="" width='175px' height='175px' />
                            <p class="name">Bryan Mitchell</p>
                            <p class="title">CEO | Founder</p>
                            <ul class="connect list-inline">
                                <li><a href="https://twitter.com/sirbryanthewise" ><i class="fa fa-twitter"></i></a></li>
                                <li><a href=" https://www.linkedin.com/in/bryan-mitchell-0a2956112" ><i class="fa fa-linkedin"></i></a></li>  
                            </ul>
                        </div><!--//member-->
                        <div class="member col-md-6 text-center">
                            <img class="img-circle" src="images/profile-julian.jpg" alt="" width='175px' height='175px'/>
                            <p class="name">Julian Guterman</p>
                            <p class="title">Software Developer</p>
                            <ul class="connect list-inline">
                                <li><a href="https://www.twitter.com/julianguterman" ><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/gutermanj" ><i class="fa fa-linkedin"></i></a></li>
                                <li class="row-end"><a href="https://www.github.com/gutermanj" ><i class="fa fa-github"></i></a></li>         
                            </ul>
                        </div><!--//member-->
                    </div>
                </div><!--//team-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//story-->

    
    <!-- ******Pricing****** --> 
    <section id="pricing" class="pricing section has-pattern">
        <div class="container">
             <div class="price-cols row">
                <h2 class="title text-center">Choose your plan today</h2>
                <h2 class="title text-center" style="font-size: 20px;">We're in beta, please contact us for details on exact pricing!</h2>
                <div class="items-wrapper col-md-10 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                    <div class="item price-1 col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="item-inner">
                            <div class="heading">
                            <h3 class="title">Personal</h3>
                                <p class="price-figure"><span class="price-figure-inner"><span class="currency">$</span><span class="number"></span><br /><span class="unit"> per month</span></span></p>
                            </div>
                            <div class="content">
                                <ul class="list-unstyled feature-list">
                                    <li><i class="fa fa-check"></i>Coming Soon</li>
                                    <li><i class="fa fa-check"></i>Coming Soon</li>
                                    <li><i class="fa fa-check"></i>Coming Soon</li>
                                    <li class="disabled"><i class="fa fa-times"></i>Coming Soon</li>
                                </ul>
                                <a class="btn btn-theme btn-block disabled" href="#">Sign Up</a>
   
                            </div><!--//content-->
                        </div><!--//item-inner-->
                    </div><!--//item--> 
                    
                    <div class="item price-2 col-md-4 col-sm-4 col-xs-12 text-center best-buy">
                        <div class="item-inner">
                            <div class="heading">
                            <h3 class="title">Professional</h3>
                                <p class="price-figure"><span class="price-figure-inner"><span class="currency">$</span><span class="number"></span><br /><span class="unit">per month</span></span></p>
                            </div>
                            <div class="content">
                                <ul class="list-unstyled feature-list">
                                    <li><i class="fa fa-check"></i>Coming Soon</li>
                                    <li><i class="fa fa-check"></i>Coming Soon</li>
                                    <li><i class="fa fa-check"></i>Coming Soon</li>
                                    <li><i class="fa fa-check"></i>Coming Soon</li>                                    
                                </ul>
                                <a class="btn btn-theme btn-block disabled" href="#">Sign Up</a>
                            </div><!--//content-->
                            <div class="ribbon">
                                <div class="text">Popular</div>
                            </div><!--//ribbon-->
                        </div><!--//item-inner-->
                    </div><!--//item-->  
                    
                    <div class="item price-3 col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="item-inner">
                            <div class="heading">
                                <h3 class="title">Business</h3>
                                <p class="price-figure"><span class="price-figure-inner"><span class="currency">$</span><span class="number"></span><br /><span class="unit">per month</span></span></p>
                            </div>
                            <div class="content">
                                <ul class="list-unstyled feature-list">
                                    <li><i class="fa fa-check"></i>Coming Soon</li>
                                    <li><i class="fa fa-check"></i>Coming Soon</li>
                                    <li><i class="fa fa-check"></i>Coming Soon</li>
                                    <li><i class="fa fa-check"></i>Coming Soon</li>
                                    <li><i class="fa fa-check"></i>Coming Soon</li>                                  
                                </ul>
                                <a class="btn btn-theme btn-block disabled" href="#">Sign Up</a>
                                
                            </div><!--//content-->
                        </div><!--//item-inner-->
                    </div><!--//item-->  
                </div><!--//items-wrapper-->                   
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//pricing-->

      
    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container">
            <small class="copyright pull-left">Copyright &copy; 2016 Phenomenal</small>
            <ul class="links list-inline">
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>
        </div>
    </footer><!--//footer-->

    <!-- Feature Modal -->
    <div class="modal modal-feature" id="feature-modal-1" tabindex="-1" role="dialog" aria-labelledby="featureModalLabel-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="featureModalLabel-1" class="modal-title text-center">App Feature and Benefit</h4>
                </div>
                <div class="modal-body"> 
                    <div class="row">    
                        <figure class="figure col-md-6 col-sm-12 col-xs-12">
                            <img class="img-responsive img-rounded" src="images/features/feature-figure-1.png" alt="" />
                            <figcaption class="caption">Figure caption goes here </figcaption>
                        </figure> 
                        <div class="content col-md-6 col-sm-12 col-xs-12">           
                            <p>You can use the modal to explain one of your app's features/benefits in details. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                            <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. </p>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-star"></i>Lorem ipsum dolor sit ame</li>
                                <li><i class="fa fa-star"></i>Curabitur elit elit</li>
                                <li><i class="fa fa-star"></i>Nunc tincidunt ipsum a risus</li>
                            </ul>
                            <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
                            <blockquote class="quote">
                                <p><i class="fa fa-quote-left"></i>I love this magna pellentesque in magnis gravida sit augue felis vehicula vestibulum semper penatibus justo ornare semper Gravida felis platea arcu mus non. Montes at posuere. Natoque.</p>
                                <p class="people"><span class="name">Adam Lee</span><br><span class="title">Developer, AppHunt</span></p>
                            </blockquote>
                        </div><!--//content-->
                    </div><!--//row-->
                </div><!--//modal-body-->
            </div><!--//modal-content-->
        </div><!--//modal-dialog-->
    </div><!--//modal-->
    
    
     
    <!-- Javascript -->          
    <script type="text/javascript" src="plugins/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="plugins/isMobile/isMobile.min.js"></script>       
    <script type="text/javascript" src="plugins/jquery.easing.1.3.js"></script>   
    <script type="text/javascript" src="plugins/bootstrap/js/bootstrap.min.js"></script>     
    <script type="text/javascript" src="plugins/jquery-inview/jquery.inview.min.js"></script>
    <script type="text/javascript" src="plugins/FitVids/jquery.fitvids.js"></script>
    <script type="text/javascript" src="plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>    
    <script type="text/javascript" src="plugins/jquery-placeholder/jquery.placeholder.js"></script>
    <script type="text/javascript" src="plugins/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="plugins/jquery-match-height/jquery.matchHeight-min.js"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>
    <!--[if !IE]>--> 
    <script type="text/javascript" src="javascripts/animations.js"></script> 
    <!--<![endif]-->         
</body>
</html> 

